html{
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin: 0px;
    font-family: 'S-CoreDream-3Light';
}
@font-face{ 
    font-family: 'S-CoreDream-3Light';
    src: url('./font/S-Core_Dream_OTF/SCDream3.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-5middle';
    src: url('./font/S-Core_Dream_OTF/SCDream5.otf') format('OpenType');
}
@font-face{ 
    font-family: 'S-CoreDream-8hard';
    src: url('./font/S-Core_Dream_OTF/SCDream8.otf') format('OpenType');
}
/*---main_page---*/
.category{
    font-size: 20px;
    display:inline;
    position: relative;
    z-index: 0;
}
.category a{
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    color:#000;
    padding: 0 50px 20px 50px;
}
.category a:hover{
    text-decoration: none;
    display: inline-block;
    vertical-align: bottom;
    color: #F8B62D;
    transition: 0.4s;
}
.category a:active{
    color: #F8B62D;
    text-decoration: none;
}
.main_logo{
    padding: 0 110px 0 30px;
}
.main_logo img{
    width: auto;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
    position: relative;
    z-index: 1;
}
.category img{
    padding: 0 5px 12px 0;
}
hr{
    border: #000 solid 1px;
}
.log_in{
    margin: 0 -40px 0 -30px;
}

.main_banner{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: -98px auto 200px auto;
}
.main_banner img{
    max-width: 100%;
    height: auto;
    display: inline;
}

.sub_text{
    font-size: 30px;
}
.main_text{
    font-family: 'S-CoreDream-8hard';
    font-size: 40px;
    margin: 3px 0 0 0;
}

.main_product{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.main_product img{
    max-width: 80%;
    height: auto;
    display: inline-block;
    margin: 50px 20px 20px 20px;
}
.product_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_flex_left{
    display: flex;
    justify-content: left;
    align-items: left;
}
.product_m_text{
    font-family: 'S-CoreDream-8hard';
    font-size: 25px;   
    margin: 0 140px 0 140px;
    align-items: center;
}
.product_s_text{
    font-size: 20px;
    margin: 0 120px 0 120px;
}
.sub_banner{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
.sub_banner img{
    max-width: 100%;
    height: auto;
    display: inline;
    margin: 200px 0 200px 0;
}

.memu_img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 50px 0 0 0;
}
.memu_img img{
    max-width: 100%;
    height: auto;
    display: inline;
    margin: 0 10px 0 10px;
}
.product_m_text_2{
    font-family: 'S-CoreDream-8hard';
    font-size: 25px;   
    margin: 0 95px 0 95px;
    align-items: center;
}
.product_s_text_2{
    font-size: 20px;
    margin: 0 108px 0 108px;
}
.product_m_text_3{
    font-family: 'S-CoreDream-8hard';
    font-size: 25px;   
    margin: 0 72px 0 72px;
    align-items: center;
}
.product_s_text_3{
    font-size: 20px;
    margin: 0 75px 0 75px;
}

.bottom_information{
    background-color: #231815;
    margin: 200px 0 0 0;
    color: #fff;
}
.info_title{
    font-family: 'S-CoreDream-8hard';
    font-size: 15px;
    display: inline-block;
    margin: 100px 85px 30px 335px;
}
.info_title_2{
    font-family: 'S-CoreDream-8hard';
    font-size: 15px;
    display: inline-block;
    margin: 100px 110px 30px 325px;
}
.product_flex_2{
    display: flex;
    justify-content: left;
    align-items: left;
}
.info_contect{
    text-align: left;
    display: inline-block;
    line-height: 1.5;
    border-right: 1px solid #655d5b;
    padding: 0 80px 0 150px;
   
}
.info_contect_2{
    text-align: left;
    display: inline-block;
    line-height: 1.5;
    border-right: 1px solid #655d5b;
    padding: 0 150px 0 150px;
}
.info_contect_3{
    text-align: left;
    display: inline-block;
    line-height: 1.5;
    padding: 0 150px 0 200px;
    margin: 0 0 100px 0;
}
.numder{
    display: inline-block;
    font-family: 'S-CoreDream-8hard';
    font-size: 30px;
}
.bottom_copyright{
    background-color: #EA5514;
    color: #000;
    padding: 20px 0 20px 0;
    letter-spacing: 1px;
}
/*---brand_page---*/
.top_patten{
    margin: -10px 0 -6px 0;
}
.in_banner{
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 200px 350px 0 0;
}
.in_banner_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 0 0;
}
.in_banner_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}
.in_banner_4{
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 200px 0 0 350px;
}
.in_banner_5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
}
/*---store_page---*/
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0 0 0;
}
.store_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
}
.store_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0 0;
}
/*---memu_page---*/
.memu_banner{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 0 0 50px 0;
}
.memu_banner img{
    max-width: 100%;
    height: auto;
    display: inline;
}
.memu_button{
    display: inline-block;
    font-size: 22px;
    padding: 8px 14px 8px 14px;
    border: 1px solid #EA5514;
    border-radius: 50px;
    margin: 100px 10px 0 10px;
    background-color: #fff;
    font-family: 'S-CoreDream-3Light';
}
.memu_button:hover {
    background-color:#F8B62D;
    transition: 0.4s;
    color: #fff;
    border: 1px solid #F8B62D;
}
.memu_button:active {
    background-color:#fff;
    transition: 0.4s;
    color: #EA5514;
    border: 1px solid #fff;
}
.memu_img{
    margin: 100px 12px 15px 12px;
}
.memu_m_text{
    font-family: 'S-CoreDream-8hard';
    font-size: 25px;
    margin: 0 80px 0 80px;
}
.memu_s_text{
    font-size: 18px;
    margin: 0 152px 0 165px;
}
.memu_s_text_2{
    font-size: 18px;
    margin: 0 45px 0 45px;
}
.memu_s_text_3{
    font-size: 18px;
    margin: 0 0 0 128px;
}

ul, li{
    list-style: none;
}
.memu .dep1 > li{
    display: inline-block;
    vertical-align: top;
}
.memu .dep2 {
   display: block; 
}
.memu .dep1 > li:hover > .dep2 {
    display: block;
}

.memu_m_text2{
    font-family: 'S-CoreDream-8hard';
    font-size: 25px;
    margin: 0 100px 0 100px;
}
.memu_s_text3{
    font-size: 18px;
    margin: 0 115px 0 115px;
}
.memu_m_text4{
    font-family: 'S-CoreDream-8hard';
    font-size: 25px;
    margin: 0 70px 0 70px;
}
.memu_s_text5{
    font-size: 18px;
    margin: 0 81px 0 81px;
}
/*---order_page---*/
.order_top{
    margin: 200px 0 0 0;
    text-align: center;
}
.order_main_img{
    display: inline-block;
    margin: 200px -300px 0 0;
}
.order_main_name{
    font-size: 15px;
    text-align: left;
    margin: 0 0 15px 0;
}
.order_main_name img{
    margin: 25px 0 0 0;
}
.orange_strong{
    font-family: 'S-CoreDream-8hard';
    color: #EA5514;
}
.order_contect{
    font-family: 'S-CoreDream-3Light';
    border-top: #EA5514 1px solid;
    border-bottom: #EA5514 1px solid;
    text-align: left;
    display: inline-block;
    margin: 0 0 15px 0;
}
.order_contects{
    font-family: 'S-CoreDream-3Light';
    display: inline-block;
    margin: 200px 400px 0 0;
    float:right;
}
.order_explain_title{
    display: inline-block;
    padding: 0 100px 0 10px;
}
.order_explain_contect{
    display: inline-block;
    padding: 0 200px 0 0;
}
.order_count{
    font-size: 12px;
}
.buy_button{
    font-family: 'S-CoreDream-5middle';
    background-color: #EA5514;
    color: #fff;
    border: 1px solid #EA5514;
    border-radius: 50px;
    padding: 20px 60px 20px 60px;
    margin: 25px 0 30px 0;
    text-align: center;
    display: block;
    letter-spacing: 1.5px;
}
.buy_button:hover{
    font-family: 'S-CoreDream-5middle';
    background-color: #fff;
    color: #EA5514;
    border: 1px solid #EA5514;
    border-radius: 50px;
    padding: 20px 60px 20px 60px;
    margin: 25px 0 30px 0;
    text-align: center;
    transition: 0.4s;
}
.cart_button{
    font-family: 'S-CoreDream-5middle';
    background-color: #fff;
    color: #EA5514;
    border: 1px solid #EA5514;
    border-radius: 50px 0 0 50px;
    padding: 20px 95px 20px 95px;
    margin: 20px 0 10px 0;
    text-align: center;
    letter-spacing: 1.5px;
}
.cart_button:hover{
    font-family: 'S-CoreDream-5middle';
    background-color: #EA5514;
    color: #fff;
    border: 1px solid #EA5514;
    border-radius: 50px 0 0 50px;
    padding: 20px 95px 20px 95px;
    margin: 20px 0 10px 0;
    text-align: center;
    letter-spacing: 1.5px;
    transition: 0.4s;
}
.plus_button{
    font-family: 'S-CoreDream-5middle';
    background-color: #fff;
    color: #EA5514;
    border: 1px solid #EA5514;
    border-radius: 0 50px 50px 0;
    padding: 20px 95px 20px 95px;
    margin: 20px 0 10px 8px;
    text-align: center;
    letter-spacing: 1.5px;
}
.plus_button:hover{
    font-family: 'S-CoreDream-5middle';
    background-color: #EA5514;
    color: #fff;
    border: 1px solid #EA5514;
    border-radius: 0 50px 50px 0;
    padding: 20px 95px 20px 95px;
    margin: 20px 0 10px 8px;
    text-align: center;
    letter-spacing: 1.5px;
    transition: 0.4s;
}
.order_category{
    margin: 200px 0 0 0;
    font-family: 'S-CoreDream-5middle';
    letter-spacing: 1px;
}
.order_category_b1{
    color:#231815;
    background-color: #fff;
    border: 1px solid #231815;
    border-radius: 50px 0 0 50px;
    padding: 20px 95px 20px 95px;
    margin: 0 7px 0 0;
}
.order_category_b1:hover{
    color:#fff;
    background-color: #231815;
    border: 1px solid #231815;
    border-radius: 50px 0 0 50px;
    padding: 20px 95px 20px 95px;
    transition: 0.4s;
    margin: 0 7px 0 0;
}
.order_category_b2{
    color:#231815;
    background-color: #fff;
    border: 1px solid #231815;
    padding: 20px 95px 20px 95px;
    margin: 0 7px 0 0;
}
.order_category_b2:hover{
    color:#fff;
    background-color: #231815;
    border: 1px solid #231815;
    padding: 20px 95px 20px 95px;
    transition: 0.4s;
    margin: 0 7px 0 0;
}
.order_category_b3{
    color:#231815;
    background-color: #fff;
    border: 1px solid #231815;
    padding: 20px 95px 20px 95px;
    margin: 0 7px 0 0;
}
.order_category_b3:hover{
    color:#fff;
    background-color: #231815;
    border: 1px solid #231815;
    padding: 20px 95px 20px 95px;
    transition: 0.4s;
    margin: 0 7px 0 0;
}
.order_category_b4{
    color:#231815;
    background-color: #fff;
    border: 1px solid #231815;
    border-radius: 0 50px 50px 0;
    padding: 20px 95px 20px 95px;
    margin: 0 7px 0 0;
}
.order_category_b4:hover{
    color:#fff;
    background-color: #231815;
    border: 1px solid #231815;
    border-radius: 0 50px 50px 0;
    padding: 20px 95px 20px 95px;
    transition: 0.4s;
    margin: 0 7px 0 0;
}
.order_prduct_page{
    margin: 150px 0 0 0;
}
.order_bottom_info_title{
    font-family: 'S-CoreDream-8hard';
    letter-spacing: 1px;
    margin: 100px 0 20px 400px;
    text-align: left;
    font-size: 12px;
}
.order_bottom_info_contect{
    text-align: left;
    font-size: 12px;
    margin: 0 0 0 400px;
    line-height: 20px;
}
.order_post_nothing{
    margin: 100px 0 100px 0;
    text-align: center;
    font-size: 15px;
    font-family: 'S-CoreDream-5middle';
    letter-spacing: 1px;
}
.order_post_button{
    font-size: 12px;
    font-family: 'S-CoreDream-5middle';
    border: 1px solid #231815;
    border-radius: 50px;
    padding: 10px 65px 10px 65px;
    text-align: right;
    color: #231815;
    letter-spacing: 1px;
    margin: 0 0 0 7px;
}
.order_post_button:hover{
    font-size: 12px;
    font-family: 'S-CoreDream-5middle';
    border: 1px solid #231815;
    border-radius: 50px;
    padding: 10px 65px 10px 65px;
    color: #fff;
    background-color: #231815;
    transition: 0.4s;
    letter-spacing: 1px;
    margin: 0 0 0 7px;
}
.order_post_button_1{
    display: flex;
    justify-content: right;
    align-items: right;
    margin: 0 150px 0 0;
}